body {
  background-color: rgb(206, 206, 206) !important;
}
#TituloFlash,
#NombreLateral {
  color: rgb(214, 5, 5);
}
#TituloFlash {
  font-size: 350%;
}
#NombreLateral {
  font-size: 200%;
}
.encavezadoFlash {
  display: flex;
  justify-content: center;
}
#logo {
  height: 30px;
  width: 30px;
}
.carousel-caption {
  background-color: rgba(255, 240, 245, 0.459);
  border-radius: 20px;
}
.letrasCarrusel {
  color: black;
}
.letrasCarrusel1 {
  font-size: black solid 150%;
}
.carousel-item {
  text-align: center;
  display: flex;
  justify-content: center;
}
